// Other variables
$accent-color: #0073b1;
$accent-color2: #ff9300;
$font-color: #707070;
$light-bg: #c0c0c0;
$dark-bg: #3c3c3c;
$darkest-bg: #1d1d1d;
$bg: #f2f4f5;

// Bulma global variables
$family-sans-serif: 'Lato', sans-serif;