@import 'variables';
@import 'bulma';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
// @import 'node_modules/@fortawesome/fontawesome-free/scss/brands';


// Bulma Extension
@import 'node_modules/bulma-extensions/bulma-checkradio/src/sass/index.sass';
@import 'node_modules/bulma-extensions/bulma-divider/src/sass/index.sass';

.label, .checkbox-label {
    font-weight: 300;
}

.checkbox-label {
    padding-left: .4rem;
}
body {
    color: $font-color;
    //font-size: $mobile-font-size;
    //@include from($tablet) {
    //    font-size: $desktop-font-size;
    //}
}


a {
    color: $accent-color;
}

.action-btn {
    background: $accent-color;
    text-transform: uppercase;
    font-size: $mobile-font-size;
    color: #fff;
    padding: .5rem 1rem;
    display: block;
    text-align: center;
    border: none;
    &:hover {
        background-color: lighten($accent-color, 10%);
        color: #fff;
    }
    @include from($tablet) {
        font-size: $desktop-font-size;
        display: inline-block;
        padding: .8rem 1.5rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.8rem;
    @include from($tablet) {
        line-height: 3rem;
    }
}

.img-loader {
    &.is-loading {
        position: relative;
        pointer-events: none;
        opacity: 0.5;
        &:after {
            @include loader;
            position: absolute;
            top: calc(50% - 2.5em);
            left: calc(50% - 2.5em);
            width: 5em;
            height: 5em;
            border-width: 0.25em;
        }
    }
}

p {
    margin-bottom: 1rem;
    margin-top: 1rem;
    @include from($tablet) {
        font-size: $desktop-font-size;
    }
}

h3 {
    font-weight: bold;
    font-size: 1.375rem;
    &.small-title {
        font-size: 1.125rem;
        color: $shade-dark;
        text-transform: uppercase;
    }
    @include from($tablet) {
        font-size: $desktop-subtitle-size;
    }
}

.home-group-image {
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    @include responsive-image('/img/home-group-mobile.jpg', '/img/home-group-mobile@2x.jpg','/img/home-group.jpg', '/img/home-group@2x.jpg');
}

.quick-image {
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    @include responsive-image('/img/quick-mobile.jpg','/img/quick-mobile@2x.jpg', '/img/quick.jpg', '/img/quick@2x.jpg');
}

.center-block {
    text-align: center;
    max-width: 50rem;
}

body {
    color: $font-color;
    min-height: 100vh;
    position: relative;
}

.hero-main {
    .form {
        margin-top: 1rem;
    }
    .label {
        color: #fff;
    }
    @include responsive-image('/img/home-mobile.jpg', '/img/home-mobile@2x.jpg', '/img/home-bg.jpg', '/img/home-bg@2x.jpg');
    padding: 1rem;
    .hero-text-container {
        background-color: $transparent-bg;
        padding: 1rem;
        color: #fff;

        header {
            margin-bottom: 1rem;
        }
        h1, h2 {
            font-size: $mobile-title-size;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
        }
        h2 {
            color: $shade-medium;
        }
        p {
            margin-bottom: 1rem;
        }
    }
    @include from($tablet) {
        min-height: 40rem;
        padding-bottom: 0;
        .hero-text-container {
            padding: 2rem;
            margin-top: 15rem;
            display: inline-block;
            max-width: 52rem;
            h1, h2 {
                font-size: $desktop-title-size;
            }
        }
    }
    .form-container {
        a {
            color: $accent-color;
            &:hover {
                color: #fff;
            }
        }
        margin: 2rem auto;
        background-color: $transparent-bg;
        padding: 1rem;
        color: #fff;
        .checkbox-label:hover {
            color: $accent-color;
        }

        header {
            margin-bottom: 1rem;
        }
        h1, h2 {
            font-size: $mobile-title-size;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
        }
        h2 {
            color: $shade-medium;
        }
        p {
            margin-bottom: 1rem;
        }
    }
    @include from($tablet) {
        min-height: 40rem;
        @include responsive-image('/img/home-mobile.jpg', '/img/home-mobile@2x.jpg', '/img/home-bg.jpg', '/img/home-bg@2x.jpg');
        padding-bottom: 0;
        font-size: $desktop-font-size;
        input {
            font-size: $desktop-font-size;
        }
        .help {
            font-size: $mobile-font-size;
        }
        .form-container {
            padding: 2rem;
            max-width: 35rem;
            h1, h2 {
                font-size: $desktop-title-size;
            }
        }
    }
}

.dark-bg {
    background-color: $bg;
    color: #fff;
}

.back-button {
    background: $bg-light;
    a {
        background-color: $bg-light;
        border: none;
        margin: 1rem 0 -2rem;
    }
}

.main-header {
    background-color: $main-color;
    height: 3.68rem;
    .logo {
        height: 1.5rem;
        padding-left: 1rem;
    }
    a, div {
        color: #fff;
        font-size: 1.2rem;
    }
    .join-btn {
        border: none;
        padding: 0;
        margin: 0;
    }
    @include from($desktop) {
        height: 5.75rem;
        .logo {
            height: 2.125rem;
            padding-left: 3rem;
        }
        .join-btn {
            border: solid 1px #fff;
            border-radius: $radius;
            padding: .3rem 1rem;
            margin-right: 3rem;
        }
    }
}


.main-title {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    text-align: center;
    h1 {
        color: $accent-color2;
        font-weight: bold;
        font-size: 2rem;
    }
}
.navbar, .navbar-brand, .navbar-burger {
    height: 100% !important;
}

.main-img {
    max-width: 90%;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.main-btn {
    text-transform: uppercase;
    display: block;
    margin: 1.2rem auto;
    background-color: $dark-bg;
    color: #fff;
    width: 80%;
    text-align: center;
    padding: .7rem 0;
    font-weight: bold;
}


.hero-line {
    margin-top: 3rem;
}

.boxes-container {
    background: $accent-color;
    margin-top: 4rem;
    .boxes {
        margin-top: -6rem;
    }
    h3 {
        color: $accent-color2;
        text-transform: uppercase;
        font-family: Oswald, sans-serif;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    .info-box {
        text-align: center;
        border: solid 2px $dark-bg;
        background-color: #fff;
        padding: 2rem 1rem;
    }
    .home-icon {
        color: $accent-color2;
        display: block;
        margin-bottom: 1rem;
    }
}

.main-footer {
    background-color: $bg;
    color: #909090;
    text-align: center;
    font-size: .8rem;
    position: absolute;
    width: 100%;
    height: 8rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding-bottom: 8rem;
    background-color: #fff;
}

.link {
    color: $accent-color !important;
    text-decoration: none !important;
}

.form-link {
    display: block;
    padding: .5rem 0;
}

.bg-gray {
    background-color: $bg-light;
}

.box-title {
    font: 1.8rem Lato, 'sans-serif';
    color: $darkest-bg;
    margin-bottom: .8rem;
}

.submit-container {
    text-align: center;
    margin-top: 2rem;
    @include from($tablet) {
        text-align: right;
    }

}

.is-white-button {
    background-color: transparent !important;
    color: $accent-color !important;
    border: solid 1px $accent-color !important;
    transition: all .2s ease-in-out;
    &:hover {
        border-color: lighten($accent-color, 10%) !important;
        color: lighten($accent-color, 10%) !important;
    }

}
.ps-button-steps {
    margin: 1rem;
}
.ps-button {
    text-align: center;
    border-radius: 100px;
    background-color: $accent-color;
    min-width: 10rem;
    border: none;
    color: #fff;
    padding: .6rem 3rem;
    font-size: 1.1rem;
    width: calc(50% - .5rem);
    &:first-child {
        margin-right: .5rem;
    }
    &:last-child {
        margin-left: .5rem;
    }
    display: inline-block;
    transition: all .2s ease-in-out;
    &:hover {
        color: #fff;
        background-color: lighten($accent-color, 10%);
    }
    @include from($tablet) {
        margin: 1rem;
        width: auto;
    }
}
.ps-button-full {
    @include until($tablet) {
        width: 100%;
        display:block;
        text-align: center;
        margin: 0 !important;
        margin-bottom: 1rem !important;
    }
}

.float-right-tablet {
    @include from($tablet) {
        float: right;
    }
}

.full-width {
    width: 100%;
    display:block;
    text-align: center;
}

.avatar {
    height:20rem;
}

.listing-card {
    width: 15rem;
    border: solid 1px $dark-bg;
    h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }
    .listing-body {
        padding: 1rem;
    }
    &-dashed {
        @extend .listing-card;
        border: dashed 1px $light-bg;
        .plus-icon {
            transition: all .2s ease-in-out;
            height: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 6rem;
            color: $light-bg;
        }
        .addnew {
            transition: all .2s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $light-bg;
            height: 15rem;
            border-top: dashed 1px $light-bg;
        }
    }
}

.ps-box {
    margin-top: 3rem;
    h5 {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }
    .separator {
        margin-top: 3.5rem;
    }
    &:first-child {
        margin-top: 0;
    }
}

.small-ps-box {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
}

.is-centered-mobile {
    justify-content: center;
    @include from($tablet) {
        justify-content: start;
    }
}

.mobile-box {
    @extend .box;
    display: flex;
    justify-content: center;
    @include from($tablet) {
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        justify-content: start;
    }
}

.link-edit {
    margin-top: 2rem;
    font-size: 1.4rem !important;
}
.link {
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: .5rem;
    transition: .2s all ease-in-out;
    &:hover {
        color: lighten($accent-color, 10%);
    }
    @include from($tablet) {
        float: right;
    }
}
ul.links {
    li {
        display: block;
    }
    a {
        display: inline-block;
        margin-bottom: .5rem;
        transition: .2s all ease-in-out;
        &:hover {
            color: lighten($accent-color, 10%);
        }
    }

}

a.listing-new {
    &:hover {
        div {
            color: $accent-color !important;
            border-color: $accent-color;
        }
    }
}
.message-body a {
    color: $accent-color !important;
    text-decoration: none !important;
}
.avatar-item {
    margin-right: 2rem;
}

.avatar-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    .avatar-icon {
        position:relative;
        cursor: pointer;
        figure {
            background-color: $accent-color;
            color: #fff;
            border-radius: 290486px;
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-weight: bold;
                font-size: 1.2rem;

            }
        }
    }
}

.featured-photos {
    .photo {
        a.featured {
            position: relative;
            display: block;
            &:after {
                content: 'Featured Photo';
                color: $accent-color;
                position: absolute;
                bottom: 1rem;
                text-align: center;
                width:100%;
                font-weight: bold;
            }
            img {
                border: solid 8px $accent-color;
            }
        }
    }
}

.two-column {
    display: flex;
    justify-content: space-between;
}
.left-aligned {
    text-align: left;
}

.report {
    padding: $box-padding;
    font-size: 1.3rem;
    @include until($tablet) {
        .col-title {
            font-weight: bold;
        }
        .column {
            margin: 0;
            padding: 0;
        }
        .columns {
            margin-bottom: 2rem;
        }
    }
}

.rows {
    padding: 0;
    .row-item {
        border-bottom: solid 2px $bg-light;
        padding: $box-padding;
        .label {
            font-weight: normal;
        }
    }
    .row-item:last-child {
        border-bottom: none;
    }

}

.label {
    font-weight: normal !important;
}

// fix alignment
.is-checkradio[type="radio"] + label, .is-checkradio[type="checkbox"] + label {
    padding-top: 0;
    font-size: 1.1rem;
}

.success {
    color: $dark-bg;
    h2 {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    margin-bottom: 4rem;
}

#companyForm {
    border-top: solid 2px $bg;
    margin-top: 1rem;
    padding-top: 1rem;
}
